version: 2
jobs:
  kitchen-docker-tests:
    machine:
      image: ubuntu-2004:202201-02
    environment:
      CHEF_LICENSE: accept # newer versions of Chef client need explicit license accept to run
      KITCHEN_LOCAL_YAML: kitchen.docker.yml
      RUBY_VERSION: '2.6.3' # ruby used to invoke kitchen, not the version used in the tests
    steps:
      - checkout
      - run:
          name: Set Ruby version
          command: |
                    echo "Using $RUBY_VERSION"
                    curl -sSL https://rvm.io/pkuczynski.asc | gpg --import -
                    # Update RVM. Using this path instead of https://get.rvm.io because the later uses the letsencrypt cert that breaks openssl 1.0
                    curl -sSL https://raw.githubusercontent.com/rvm/rvm/master/binscripts/rvm-installer | bash -s stable
                    rvm reload
                    rvm install $RUBY_VERSION
                    echo . $(rvm $RUBY_VERSION do rvm env --path) >> $BASH_ENV
      - run:
          name: Install bundler
          command: gem install bundler:2.3.26
      - run:
          name: Install dependencies with bundler
          command: bundle install --path .bundle
      - run:
          name: Execute Kitchen tests
          command: bundle exec rake circle
          no_output_timeout: 900

  style:
    machine:
      image: ubuntu-2004:202201-02
    environment:
      CHEF_VERSION: '16.5.77'
      RUBY_VERSION: '2.6.3'
    steps:
      - checkout
      - run:
          name: Set Ruby version
          command: |
                    echo "Using $RUBY_VERSION"
                    curl -sSL https://rvm.io/pkuczynski.asc | gpg --import -
                    # Update RVM. Using this path instead of https://get.rvm.io because the later uses the letsencrypt cert that breaks openssl 1.0
                    curl -sSL https://raw.githubusercontent.com/rvm/rvm/master/binscripts/rvm-installer | bash -s stable
                    rvm reload
                    rvm install $RUBY_VERSION
                    echo . $(rvm $RUBY_VERSION do rvm env --path) >> $BASH_ENV
      - run:
          name: Install bundler
          command: gem install bundler:2.3.26
      - run:
          name: Check bundler version
          command: bundle --version
      - run:
          name: Install dependencies with bundler without Gemfile.lock
          command: |
                    rm Gemfile.lock
                    bundle install --path .bundle --without=development
      - run:
          name: Showing gems versions in bundle
          command: bundle list
      - run:
          name: Execute style check
          command: bundle exec rake style

  specs-base: &specs
    machine:
      image: ubuntu-2004:202201-02
    environment:
      CHEF_VERSION: 'needs-to-be-specified'
      RUBY_VERSION: 'needs-to-be-specified'
    steps:
      - checkout
      - run:
          name: Set Ruby version
          command: |
                    echo "Using $RUBY_VERSION"
                    curl -sSL https://rvm.io/pkuczynski.asc | gpg --import -
                    # Update RVM. Using this path instead of https://get.rvm.io because the later uses the letsencrypt cert that breaks openssl 1.0
                    curl -sSL https://raw.githubusercontent.com/rvm/rvm/master/binscripts/rvm-installer | bash -s stable
                    rvm reload
                    rvm install $RUBY_VERSION
                    echo . $(rvm $RUBY_VERSION do rvm env --path) >> $BASH_ENV
      - run:
          name: Install bundler
          command: gem install bundler:2.3.26
      - run:
          name: Check bundler version
          command: bundle --version
      - run:
          name: Install dependencies with bundler without Gemfile.lock
          command: |
                    rm Gemfile.lock
                    bundle install --path .bundle --without=development
      - run:
          name: Showing gems versions in bundle
          command: bundle list
      - run:
          name: Run specs
          command: bundle exec rake spec

  specs-ruby3.0.0-chef17.4.38:
    <<: *specs
    environment:
      CHEF_VERSION: '17.4.38'
      RUBY_VERSION: '3.0.0'

  specs-ruby3.0.0-chef16.5.77:
    <<: *specs
    environment:
      CHEF_VERSION: '16.5.77'
      RUBY_VERSION: '3.0.0'

  specs-ruby2.7.2-chef17.4.38:
    <<: *specs
    environment:
      CHEF_VERSION: '17.4.38'
      RUBY_VERSION: '2.7.2'

  specs-ruby2.7.2-chef16.5.77:
    <<: *specs
    environment:
      CHEF_VERSION: '16.5.77'
      RUBY_VERSION: '2.7.2'

  specs-ruby2.6.3-chef16.5.77:
    <<: *specs
    environment:
      CHEF_VERSION: '16.5.77'
      RUBY_VERSION: '2.6.3'

  specs-ruby2.6.3-chef14.10.9:
    <<: *specs
    environment:
      CHEF_VERSION: '14.10.9'
      RUBY_VERSION: '2.6.3'

  specs-ruby2.5.1-chef14.10.9:
    <<: *specs
    environment:
      CHEF_VERSION: '14.10.9'
      RUBY_VERSION: '2.5.1'

  specs-ruby2.4.3-chef13.12.14:
    <<: *specs
    environment:
      CHEF_VERSION: '13.12.14'
      RUBY_VERSION: '2.4.3'

workflows:
  version: 2
  build_and_test:
    jobs:
      - kitchen-docker-tests
      - style
      - specs-ruby3.0.0-chef17.4.38
      - specs-ruby3.0.0-chef16.5.77
      - specs-ruby2.7.2-chef17.4.38
      - specs-ruby2.7.2-chef16.5.77
      - specs-ruby2.6.3-chef16.5.77
      - specs-ruby2.6.3-chef14.10.9
      - specs-ruby2.5.1-chef14.10.9
      - specs-ruby2.4.3-chef13.12.14
