version: 2
jobs:
  test:
    machine: true
    environment:
      KITCHEN_LOCAL_YAML: .kitchen.docker.yml
    steps:
      - checkout
      - run: curl -L https://www.chef.io/chef/install.sh | sudo bash -s -- -P chefdk -v 2.3.1
      - run: chef gem install kitchen-docker -v '~> 2.3.0'
      - run: eval "$(/opt/chefdk/bin/chef shell-init bash)"
      - run: chef --version
      - run: chef gem query -d chefspec rubocop foodcritic rake kitchen-docker
      - run: chef exec rake circle

workflows:
  version: 2
  build_and_test:
    jobs:
      - test 
